.items {
  padding: 1rem 0;

  flex: 1;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-family: 'Open Sans', sans-serif;
  align-items: flex-start;
}

.item {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 1rem 1rem 0;

  box-shadow: 0 3px 5px -2px black;
}

.item-name,
.fact-line {
  background: #44b;
  color: white;
}

.item-name {
  padding: 0.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.add-item {
  font-size: 16px;
  background: #228;
  color: white;
  padding: 6px;
  border-radius: 50%;
}

.item-description {
  padding: 0.25rem;
}

.fact-line {
  padding: 0.25rem 0.5rem;
}

.fact-name {
  font-weight: bold;
  margin-right: .5em;
}

@media (max-width: 768px) {
  .items {
    flex-direction: column;
    padding-right: 1rem;
  }

  .item-name,
  .fact-line,
  .item-description {
    font-size: 1.5rem;
  }

  .item {
    width: 100%;
  }

  .item-image {
    width: 100%;
  }
}